@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0 0 0;
  --background-rgb: 255 255 255;
  --second-rgb: 250 117 115;
  --btn-text: 225 225 225;
  --btn-bg: 44 31 137;
  --btn-text-hv: 225 225 225;
  --btn-bg-hv: 26 16 98;
}

.dark {
  --foreground-rgb: 255 255 255;
  --background-rgb: 9 10 19;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

h1, h2 {
  font-size: 38px;
  line-height: 1.25;
  font-weight: 600
}

h3 {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 600
}

h4 {
  font-size: 15px;
  line-height: 1.25;
  font-weight: 600
}

a:hover {
  color: rgb(var(--second-rgb))
}

/* slider */
.slick-track {
  transition: all ease .5s;
  margin-left: -15px;
  margin-right: -15px;
}

.slick-track .slick-slide {
  padding-left: 15px;
  padding-right: 15px;
}

body .slick-dots li button:before {
  font-size: 8px;
  color: rgb(var(--foreground-rgb));
}

.slick-dots li button:hover:before, 
.slick-dots li button:focus:before {
  color: rgb(var(--second-rgb))
}

body .slick-dots li.slick-active button:before {
  font-size: 10px;
  color: rgb(var(--second-rgb))
}

body .slick-dots li {
  margin: 0;
}

/* responsive */
@media screen and (min-width: 768px) {
  h1, h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
